@using MyOneNote.ViewModels.Note
@model IEnumerable<MyOneNote.ViewModels.Note.ListNoteVM>
    @{
        ViewData["Title"] = "Notatki";
    }

    <h2 class="header">Notatki</h2>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @foreach (ListNoteVM note in Model)
            {
                @Html.Partial("_ListNote", note)
                <br />
            }
        </div>
        <div class="col-md-1"></div>
    </div>



