@model MyOneNote.ViewModels.Dictionary.AddCategoryVM

<div>
    <form class="form-horizontal" asp-controller="Dictionary" asp-action="AddCategory" method="post">
        <div class="form-group">
            <label class="control-label" asp-for="Name">Nazwa</label>
            <input type="text" class="form-control" asp-for="Name" required="true"/>
            <span asp-validation-for="Name" class="text-dange"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Dodaj"/>
        </div>
    </form>
</div>